/*Card ve  İlk sayfa ile ilgili tüm css kodlarının bulunduğu sayfa*/
body{
    background: radial-gradient(#e5e5e5,#ffff,#e5e5e5);
    padding-top: 3rem;
}
.card{
    width: 360;
    overflow: hidden;
    margin-top: 1rem;
    
}
.card:hover{
    box-shadow:5px 10px 20px 1px rgba(0, 0,0,0.253)!important;
}
.card-body{
    padding: 3rem 0 !important;
}
.card-imgtitle{
    font-size:1rem ;
    position:absolute;  
    opacity: 1;  
    color:rgb(199, 184, 184);
    font-size:18px;
    font-weight:lighter;
    left:5px;
    top:210px;
}
.card-text{
    left:20px;
    top:210px;
    font-size:15px;
    padding-top: 4rem;
    padding-right: 10rem;
    font-weight: bold;
    font-size: large;
    position:absolute;
    text-decoration-color: rgb(0, 0, 0);
}
.form-style{
    margin-bottom:50rem;
}
.comment-style{
    left:7.5rem;
    font-weight: bold;
    font-size: 13px;
    position:absolute;
    bottom:62px;
    color:rgb(199, 184, 184);
}
.star-style{
    left:1rem;
    bottom:55px;
    position:absolute;
    font-weight: bold;
    font-size: small;
}
.container-fluid.row{
    padding-top: 6rem;
}
.overflow{
    overflow: hidden;
}
.card-img-top{
    width: 20rem;
    height: 15rem;
    transform: scale(1);
    transition: transform 0.5s ease;
}
.card-img-top:hover{
    transform: scale(1.8);
}
.capacity-count{
    padding-top: 3rem;
    
    font-size:.8rem;
    opacity: 0.4;
    position:absolute; 
    left:20px;
    top:200px;
}
.btn-color{
    background-color:#DB0962;
    color:#ffffff;
    margin-bottom:10px;
    margin-left:7px;
}
.btn-color:hover{
    background-color:#ffffff;
    color:#DB0962;
    border: 1px solid #DB0962;
}
.btn-size{ 
    font-weight: bold;
    margin-bottom:10px;
    margin-left:7px;
    width:9rem;
    height:2.5rem;
}
.btn-size:hover{ 
    background-color:#DB0962;
}
